* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Acme", sans-serif;
  background-color: #c9c9c9;
}

.set_blur {
  filter: blur(10px);
}

@media only screen and (max-width: 700px) {
  body {
    background-position: center center;
    height: 500px;
  }
}
@media only screen and (max-width: 374px) {
  body {
    height: 800px;
    background-position: center center;
  }
}
@media only screen and (max-width: 250px) {
  body {
    height: 300px;
    background-position: center center;
  }
}
.header--content {
  padding: 2.2em 1em;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header--content .nav--bar {
  text-align: center;
}
.header--content .links-nav__bar {
  text-transform: uppercase;
  font-family: "Acme", sans-serif;
  color: white;
  padding: 5px;
  font-size: 1em;
  font-weight: bolder;
  padding: 10px;
  margin-right: 15px;
  text-decoration: none;
  outline: none;
  border-bottom: transparent 1px solid;
}
.header--content .links-nav__bar:hover {
  border-bottom: #fff 1px solid;
}

.background-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcome_jobs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.control-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pop_modal_size {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}

.pop_modal_position {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.pop_modal_styles {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  width: 30%;
  height: 500px;
  border: 1px solid #7e33b7;
}

.tags_label {
  color: black;
  margin: 10px 5px;
  font-size: 1.2em;
}

.input_styles {
  margin: 5px 5px;
  width: 100%;
  padding: 2px 50px;
  text-align: center;
}

.styles_show_password {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.passw_styles {
  color: black;
  font-size: 1.2em;
  margin: 10px 10px;
}

.buttons_form_login {
  display: flex;
}

.loging_btn {
  margin: 10px 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

#log_btn {
  background-color: #009929;
}

.validation_container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.validation_text {
  font-size: 0.8em;
  color: red;
}

.text-validation {
  font-size: 0.8em;
  color: red;
}

.search--form__section {
  background: url("https://images.unsplash.com/photo-1604964432806-254d07c11f32?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 200px;
  min-width: 320px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.search--form__section .select--options {
  padding: 5px 10px;
  margin: 5px 5px;
}
.search--form__section select {
  background-color: white;
  color: black;
  font-family: "Acme", sans-serif;
}
.search--form__section select:hover {
  background-color: #9ce0db;
}
.search--form__section .form__buttons {
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.search--form__section .search {
  color: white;
  background-color: #7e33b7;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #98ff96;
  cursor: pointer;
}
.search--form__section .search:hover {
  background-color: #a167c9;
}
.search--form__section .clear {
  color: white;
  background-color: #40cfff;
  padding: 5px 14px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #40cfff;
  cursor: pointer;
}
.search--form__section .clear:hover {
  background-color: #94e7ff;
}

.err {
  font-size: 1.5em;
}

.flex__form {
  height: 600px;
}
.flex__form #form__styles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex__form label {
  color: #3d0b60;
  margin: 0.3em;
  font-weight: bolder;
  font-size: 1.5em;
}
.flex__form .form__input {
  width: 50%;
  margin: 0.5em;
  padding: 0.5em 0;
  font-size: 1em;
}
.flex__form select {
  width: 50%;
  margin: 0.7em;
  padding: 0.5em 0;
  font-size: 1em;
}
.flex__form .edit__btnform {
  background-color: #009929;
  border-radius: 8px;
  margin: 5px;
  padding: 8px 30px;
  border: 1px transparent;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1em;
}

@media only screen and (max-width: 767px) {
  .background-image {
    width: 100%;
  }

  .searching--form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .search--form__section {
    background: none;
    background-color: black;
    height: 220px;
  }
}
#container__cards {
  flex-wrap: wrap;
  bottom: 0;
  min-height: 800px;
  margin-top: 100px;
  padding-bottom: 4em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.card-body {
  background-image: url("https://images.unsplash.com/photo-1604964432806-254d07c11f32?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580");
  opacity: 92%;
  background-position: bottom right;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  margin: auto;
  border-radius: 20px;
  max-width: 600px;
  min-width: 330px;
  width: 20%;
  height: 400px;
  margin: 10px;
  flex: 0 0 auto;
  overflow: hidden;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
}

.card-body:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-title {
  opacity: 1;
  color: white;
  text-transform: uppercase;
}

.card-text {
  opacity: 1;
  font-size: 1em;
}

.badge {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.badge_attribute {
  background-color: black;
  color: white;
  padding: 0.1em 1em;
  margin: 7px 5px;
  font-size: 1.2rem;
}

.secondary-card-body {
  opacity: 89%;
  background-color: white;
  margin-right: 30px;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  color: black;
  width: 30%;
  max-width: 600px;
  min-width: 330px;
  padding: 1em 1em;
  text-align: center;
  flex: 0 0 auto;
  overflow: hidden;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.title_card {
  color: black;
}

.secondary-card-body:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.d-flex__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.d-flex__buttons .edit__btn {
  background-color: #7e33b7;
  border-radius: 0.5em;
  margin: 5px;
  padding: 8px 30px;
  border: 1px transparent;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1em;
}
.d-flex__buttons .edit__btn:hover {
  background-color: #a167c9;
}
.d-flex__buttons .delete__btn {
  border-radius: 0.5em;
  margin: 5px;
  padding: 8px 20px;
  background-color: red;
  border: 1px transparent;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1em;
}

.btn {
  margin-top: 1em;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  font-size: 1em;
  padding: 0.4em 2em;
  cursor: pointer;
  border: 0.1px solid white;
}

.btn:hover {
  background-color: #3c3c3c;
}

.goback_btn {
  padding: 1em 1em;
  background-color: #759eff;
  border: none;
  margin: 5px;
  margin-top: 10px;
  border-radius: 0.4em;
}

a {
  text-decoration: none;
  color: white;
}

.d-none {
  display: none;
}

@media only screen and (max-width: 374px) {
  .secondary-card-body {
    margin-right: 0;
  }
}
.dot-spinner {
  --uib-size: 40px;
  --uib-speed: .9s;
  --uib-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: black;
  transform: scale(0);
  opacity: 0.5;
  animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
#modal_size {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}
#modal_size .delete_modal_position {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
#modal_size .delete_modal_position .modal_delete_styles {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 200px;
  border: 1px solid #7e33b7;
}
#modal_size .delete_modal_position .modal_delete_styles .fa-angle-down {
  margin-left: 350px;
  color: #1b003a;
  cursor: pointer;
}
#modal_size .delete_modal_position .modal_delete_styles .btn__danger {
  border-radius: 10px;
  padding: 5px 1em;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}
#modal_size .delete_modal_position .modal_delete_styles .modal-text {
  color: #1b003a;
  font-size: 1.5em;
}

.container__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 1em 2em;
  color: white;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.container__footer .logo--image {
  width: 110px;
}
.container__footer .links-nav__bar {
  text-transform: uppercase;
  font-family: "Acme", sans-serif;
  color: white;
  padding: 5px;
  font-size: 1em;
  font-weight: bolder;
  padding: 10px;
  margin-right: 15px;
  text-decoration: none;
  outline: none;
  border-bottom: transparent 1px solid;
}
.container__footer .links-nav__bar:hover {
  border-bottom: #fff 1px solid;
}

@media only screen and (max-width: 374px) {
  .logo--image {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
}

.a {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #5dc1b9;
  margin: 5px;
  border: none;
}

.a:hover {
  background-color: #9ce0db;
}

.container_info {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}

.info-text {
  font-family: "Acme", sans-serif;
  text-transform: uppercase;
  font-size: 7em;
  display: block;
}

.home_body {
  background: url("https://i.pinimg.com/564x/70/fd/66/70fd661c552a98cfe353a6c5feb656ff.jpg");
  background-size: cover;
  background-position: right center;
  height: 1500px;
  min-height: 500px;
}

.why-work-with-us {
  height: 150px;
  min-width: 330px;
}

h3 {
  font-weight: lighter;
  font-size: 1.3em;
  margin: 5px;
}

.cards__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 400px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: white;
  min-width: 300px;
  max-width: 600px;
  margin: 10px;
  padding-bottom: 100px;
  min-width: 330px;
}

h4 {
  width: 100%;
  height: 50px;
  background-color: #5dc1b9;
  padding: 10px 5px;
}

p {
  color: black;
  margin: 10px;
  font-size: 1.2em;
}

@media only screen and (max-width: 720px) {
  .info-text {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 520px) {
  .info-text {
    margin-left: 10px;
    font-size: 5em;
  }
}

/*# sourceMappingURL=style.css.map */
