* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  font-family: 'Acme', sans-serif;
  // font-family: "Lato";
  font-weight: light;
  background: linear-gradient(150deg, #e6d3f9 0%, #e6d3f9 50%, #cea0f1 50%, #cea0f1 210%);
  
}
$module-font-size: 14px;
$bezier: cubic-bezier(.25,.8,.25,1);
$orange--color: #ffa43a;
$white--color: white;
$flex-wrap: wrap;

@mixin material-shadow() {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}
@mixin d-flex($direction: row, $justifycontent: center, $alignitems: center) {
  display: flex;
  justify-content: $justifycontent;
  flex-direction: $direction;
  align-items: $alignitems;
}
.header--content {
  padding: 2.2em 0;
  background-color: black;
  @include d-flex(
    $direction: column,
    $justifycontent: flex-start,
    $alignitems: center
  );

  .nav--bar {
    text-align: center;
  }

  .links-nav__bar {
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    color: $white--color;
    padding: 5px;
    font-size: 1em;
    font-weight: bolder;
    padding: 10px;
    margin-right: 15px;
    text-decoration: none;
    outline: none;
    border-bottom: transparent 1px solid;
  }
  .links-nav__bar:hover {
    border-bottom: #fff 1px solid;
  }

}

.search--form__section {
  height: 180px;
  margin: 15px 0;
  @include d-flex($direction: row, $justifycontent: center, $alignitems: center);
  .select--options {
    padding: 5px 10px;
    margin: 0 5px;
  }
  select{
    background-color: #3d0b60;;
    color: $white--color;
    font-family: 'Acme', sans-serif;
  }
  select:hover{
    background-color:  #7e33b7;
  }

  .search {
    color: $white--color;
    background-color: #88ef87;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #98ff96;
    cursor: pointer;
  }
  .search:hover{
      background-color: #a9ffa5;
  }
  .clear {
    color: $white--color;
    background-color: #40cfff;
    padding: 5px 14px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #40cfff;
    cursor: pointer;
  }
  .clear:hover{
    background-color: #94e7ff;
  }
}

#container__cards{
  flex-wrap: $flex-wrap;
  // width: 100%;
  min-height: 400px;
  padding-bottom: 4em;
  @include d-flex($direction: row, $justifycontent: center, $alignitems: center);
  .card-body{
    @include d-flex($direction: column, $justifycontent: space-evenly, $alignitems: center);
    @include material-shadow();
    background: linear-gradient(to right bottom,#cea0f1, #e6d3f9 );
    border-radius: 20px;
    max-width: 600px;
    min-width: 330px;
    width: 20%;
    height: 350px;
    text-align: center;
    margin: 10px;
    flex: 0 0 auto;
    overflow: hidden;
    transition: opacity 0.4s $bezier, transform 0.4s $bezier, box-shadow 0.4s $bezier;
    z-index: 1000;


  }
  .card-body:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
  }
  // .card-title{
  //   font-size: 1.3em;
  // }
  .card-title{
    color: #1b003a;
    text-transform: uppercase;
  }
  .card-text{
    font-size: 1em;
  }
  .badge{
    width: 100%;
    flex-wrap: $flex-wrap;
    // margin-top: 15px;
    @include d-flex($direction: row-reverse, $justifycontent: center, $alignitems: center);

  }
  .badge_attribute{
    background-color: #3d0b60;
    color: white;
    padding: 0.1em 1em;
    margin: 7px 5px;
    font-size: 1.2rem;
  }


  .d-flex__buttons{

    @include d-flex($direction: row, $justifycontent: center, $alignitems: center);
    
   .edit__btn{
    background-color: #7e33b7;
     border-radius: 0.5em;
     margin: 5px;
     padding: 8px 30px;
     border: 1px transparent;
     color: $white--color;
     cursor: pointer;
     outline: none;
     font-size: 1em;
   } 
    .edit__btn:hover{
    background-color:  #a167c9;
  }
   .delete__btn{
    border-radius: 0.5em;
    margin: 5px; 
    padding: 8px 20px;
    background-color: red;
    border: 1px transparent;
    color: $white--color;
    cursor: pointer;
    outline: none;
    font-size: 1em;

   }
  }
  .btn{
    margin-top: 1em;
    border-radius: 0.5em;
    // background-color: #1b003a;
    background-color: #7e33b7;
    display: block;
    color: white;
    font-size: 1em;
    // margin-left: 37%;
    padding: 0.4em 2em;
    cursor: pointer;
    border: 0.1px solid white;
  }
  .btn:hover{
    background-color:  #a167c9;
  }
  
}
.secondary-card-body{
  border: 1px solid #c5c5c5;
  // background-color: $white--color;
  border-radius: 20px;
  color: black;
  width: 30%;
  max-width: 600px;
  min-width: 330px;
  height: 350px;
  padding: 1em 1em;
  text-align: center;
  flex: 0 0 auto;
  overflow: hidden;
  transition: opacity 0.4s $bezier, transform 0.4s $bezier, box-shadow 0.4s $bezier;
  z-index: 1000;
  // @include d-flex($direction: column, $aligncontent: space-evenly, $alignitems: center);
  @include material-shadow();
  background: linear-gradient(to right bottom,#cea0f1, #e6d3f9 );
  @include d-flex($direction: column, $justifycontent: space-evenly, $alignitems: center);
}
.secondary-card-body:hover{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}

  .goback_btn{
    padding: 1em 1em;
    background-color: #759eff;
    border: none;
    margin: 5px;
    margin-top: 350px;
    border-radius: 0.4em;
  }
  a{
    text-decoration: none;
    color: $white--color;
  }

.d-none{
  display: none;
}
.flex__form{
  // display: none;
  height: 600px;
  #form__styles{
    @include d-flex($direction: column, $justifycontent: center, $alignitems: center);
  }
  label{
    margin: 0.3em;
    font-weight: bolder;
    font-size: 1.5em;
  }
  .form__input{
    width: 50%;
    margin: 0.5em;
    padding: 0.5em 0;
    font-size: 1em;
  }
  select{
    width: 50%;
    margin: 0.7em;
    padding: 0.5em 0;
    font-size: 1em;

  }
  .edit__btnform{
    background-color: #009929;
    border-radius: 8px;
    margin: 5px;
    padding: 8px 30px;
    border: 1px transparent;
    color: $white--color;
    cursor: pointer;
    outline: none;
    font-size: 1em;
  }
}

.dot-spinner {
  --uib-size: 40px;
  --uib-speed: .9s;
  --uib-color: white;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

#modal_delete{
  width: 200px;
  height: 200px;
}

.container__footer{
  @include d-flex($direction: row, $justifycontent: space-between, $alignitems: center);
  background-color: black;
  padding: 1em 2em;
  color: white;
  position: relative;
  left:0px;
  bottom:0px;
  width:100%;
  text-align: center;
  .logo--image {
    width: 110px;
  }
  .links-nav__bar {
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    color: $white--color;
    padding: 5px;
    font-size: 1em;
    font-weight: bolder;
    padding: 10px;
    margin-right: 15px;
    text-decoration: none;
    outline: none;
    border-bottom: transparent 1px solid;
  }
  .links-nav__bar:hover {
    border-bottom: #fff 1px solid;
  }
}