* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Verdana', sans-serif;
  background-color: #fcfcfc;
}
$orange--color: #ffa43a;
$white--color: white;
@mixin d-flex($direction: row, $aligncontent: center, $alignitems: center) {
  display: flex;
  justify-content: $aligncontent;
  flex-direction: $direction;
  align-items: $alignitems;
}
.header--content {
  background-color: black;
  @include d-flex(
    $direction: row,
    $aligncontent: space-between,
    $alignitems: center
  );
  .logo--image {
    width: 10%;
  }
  .nav--bar {
    @include d-flex(
      $direction: row,
      $aligncontent: flex-end,
      $alignitems: center
    );
  }
  .links-nav__bar {
    color: $white--color;
    padding: 5px;
    font-size: 1em;
    font-weight: bolder;
    padding: 10px;
    margin-right: 15px;
    text-decoration: none;
    outline: none;
    border-bottom: transparent 1px solid;
  }
  .links-nav__bar:hover {
    border-bottom: #fff 1px solid;
  }
}

.search--form__section {
  height: 180px;
  margin: 15px 0;
  @include d-flex($direction: row, $aligncontent: center, $alignitems: center);
  .select--options {
    padding: 5px 10px;
    margin: 0 5px;
  }
  .search {
    background-color: #88ef87;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #98ff96;
    cursor: pointer;
  }
  .search:hover{
      background-color: #a9ffa5;
  }
  .clear {
    background-color: #40cfff;
    padding: 5px 14px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #40cfff;
    cursor: pointer;
  }
  .clear:hover{
    background-color: #94e7ff;
  }
}

#container__cards{

  flex-wrap: wrap;
  // width: 100%;
  padding-bottom: 4em;
  @include d-flex($direction: row, $aligncontent: center, $alignitems: center);
  .card-body{
    @include d-flex($direction: column, $aligncontent: center, $alignitems: center);
    max-width: 600px;
    min-width: 330px;
    border: 1px solid #c5c5c5;
    background-color: $white--color;
    margin: 0.7em;
    width: 30%;
    height: 350px;
    text-align: center;
  }

  .card-text{
    font-size: 1em;
  }
  .badge{
    width: 100%;
    margin-top: 15px;
    @include d-flex($direction: row, $aligncontent: center, $alignitems: center);

  }
  .badge_category{
    background-color: #759eff;
    color: white;
    padding: 0.1em 0.5em;
    margin: 0px 5px;
    font-size: 0.9em;
  }
  .badge_seniority{
    background-color: #40cfff;
    color: white;
    padding: 0.1em 0.5em;
    margin: 0px 5px;
    font-size: 0.9em;

  }
  .d-flex__buttons{

    @include d-flex($direction: row, $aligncontent: center, $alignitems: center);
    
   .edit__btn{
     background-color: #009929;
     border-radius: 8px;
     margin: 5px;
     padding: 8px 30px;
     border: 1px transparent;
     color: $white--color;
     cursor: pointer;
     outline: none;
     font-size: 1em;
   } 
   .delete__btn{
    border-radius: 8px;
    margin: 5px; 
    padding: 8px 20px;
    background-color: red;
    border: 1px transparent;
    color: $white--color;
    cursor: pointer;
    outline: none;
    font-size: 1em;



   }
  }
  .btn{
    margin-top: 1em;
    border-radius: 0.5em;
    background-color: $orange--color;
    display: block;
    color: white;
    font-size: 1em;
    // margin-left: 37%;
    padding: 0.4em 2em;
    cursor: pointer;
    border: 0.1px solid white;
  }
  .btn:hover{
    background-color:  #ffbf75;
  }
  
}
.secondary-card-body{
  border: 1px solid #c5c5c5;
  background-color: $white--color;
  width: 50%;
  max-width: 600px;
  height: 400px;
  padding: 1em 1em;
  text-align: center;
  @include d-flex($direction: column, $aligncontent: center, $alignitems: center);

}
.d-none{
  display: none;
}
.flex__form{
  // display: none;
  height: 500px;
  #form__styles{
    @include d-flex($direction: column, $aligncontent: center, $alignitems: center);
  }
  label{
    margin: 0.3em;
    font-weight: bolder;
  }
  .form__input{
    width: 50%;
    margin: 0.5em;
    padding: 0.5em 0;
    font-size: 1em;
  }
  .edit__btnform{
    background-color: #009929;
    border-radius: 8px;
    margin: 5px;
    padding: 8px 30px;
    border: 1px transparent;
    color: $white--color;
    cursor: pointer;
    outline: none;
    font-size: 1em;
  }
}

.dot-spinner {
  --uib-size: 40px;
  --uib-speed: .9s;
  --uib-color: black;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

#modal_delete{
  width: 200px;
  height: 200px;
}

.container__footer{
  background-color: black;
  padding: 5em;
  color: white;
  text-align: center;
}