.background-image{
  // height: 350px;
  // background-image: url('https://www.mediasource.mx/hs-fs/hubfs/blog-files/fondos-web.jpg?width=640&name=fondos-web.jpg&v=2');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.search--form__section {
    //z-index: 2000;
    min-width: 350px;
    flex-wrap: $flex-wrap;
    height: 180px;
    @include d-flex($direction: row, $justifycontent: center, $alignitems: flex-end);
  
    .select--options {
      padding: 5px 10px;
      margin: 5px 5px;
    }
  
    select {
      background-color: $white--color;
      color: black;
      font-family: 'Acme', sans-serif;
    }
  
    select:hover {
      background-color: #9ce0db;
    }
  
    .form__buttons {
      margin: 5px 0;
      @include d-flex($direction: row, $justifycontent: flex-end, $alignitems: center);
    }
  
    .search {
      color: $white--color;
      background-color: $button-color;
      padding: 5px 10px;
      outline: none;
      border-radius: 10px;
      border: 1px solid #98ff96;
      cursor: $cursor;
  
    }
  
    .search:hover {
      background-color: $button--colorhover;
    }
  
    .clear {
      color: $white--color;
      background-color: #40cfff;
      padding: 5px 14px;
      outline: none;
      border-radius: 10px;
      border: 1px solid #40cfff;
      cursor: $cursor;
    }
  
    .clear:hover {
      background-color: #94e7ff;
    }
  }
  .err{
    font-size: 1.5em;
  }
  .flex__form {
    height: 600px;
    #form__styles {
      @include d-flex($direction: column, $justifycontent: center, $alignitems: center);
  
    }
  
    label {
      color: #3d0b60;
      margin: 0.3em;
      font-weight: bolder;
      font-size: 1.5em;
    }
  
    .form__input {
      width: $widthfifty;
      margin: 0.5em;
      padding: 0.5em 0;
      font-size: $em-size;
    }
  
    select {
      width: $widthfifty;
      margin: 0.7em;
      padding: 0.5em 0;
      font-size: $em-size;
  
    }
  
    .edit__btnform {
      background-color: #009929;
      border-radius: 8px;
      margin: 5px;
      padding: 8px 30px;
      border: 1px transparent;
      color: $white--color;
      cursor: $cursor;
      outline: none;
      font-size: $em-size;
    }
  }
  @media only screen and (max-width: 767px) {
    .background-image{
      width: 100%;
    }
  }
  @media only screen and (max-width: 374px) {
    .background-image{
      height: 280px;
      width: 100%;
      background-size: cover;
    }
  }

  @media only screen and (max-width: 374px) {
    .searching--form{
      @include d-flex($direction: column, $justifycontent: center, $alignitems: center);

    }
  }