.background-image{
  // height: 350px;
  // background-image: url('https://www.mediasource.mx/hs-fs/hubfs/blog-files/fondos-web.jpg?width=640&name=fondos-web.jpg&v=2');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.welcome_jobs{
  @include d-flex($direction: column, $justifycontent: center, $alignitems: center);
  height: 150px;

}
.info{
  @include d-flex($direction: column, $justifycontent: center, $alignitems: center);
}
.control-form{
  @include d-flex($direction: column, $justifycontent: center, $alignitems: center);

}
.pop_modal_size{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}
.pop_modal_position{
    
  @include d-flex($direction: row, $justifycontent: center, $alignitems: center);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;

}
.pop_modal_styles{
  background-color: $white--color;
  @include d-flex($direction: column, $justifycontent: center, $alignitems: center);
  min-width: 350px;
  width: 30%;
  height: 500px;
  border: 1px solid $button-color;
}
.tags_label{
  color: black;
  margin: 10px 5px;
  font-size: 1.2em;
}
.input_styles{
  margin: 5px 5px;
  width: 100%;
  padding: 2px 50px;
  text-align: center;
}
.styles_show_password{
  @include d-flex($direction: row, $justifycontent: center, $alignitems: center);
}
.passw_styles{
  color: black;
  font-size: 1.2em;
  margin: 10px 10px;
}
.buttons_form_login{
  display: flex;
}
.loging_btn{
  margin: 10px 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5%;
  cursor: $cursor;
}
#log_btn{
  background-color: #009929;
}
.validation_container{
  flex-wrap: $flex-wrap;
  @include d-flex($direction: row, $justifycontent: center, $alignitems: flex-end);

}
.validation_text{
  font-size: 0.8em;
  color: red;
}
.text-validation{
  font-size: 0.8em;
  color: red;
}
.search--form__section {
  background: url("https://images.unsplash.com/photo-1604964432806-254d07c11f32?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  bottom right;
  height: 200px;
    min-width: 320px;
    flex-wrap: $flex-wrap;

    @include d-flex($direction: row, $justifycontent: center, $alignitems: center);
  
    .select--options {
      padding: 5px 10px;
      margin: 5px 5px;
    }
  
    select {
      background-color: $white--color;
      color: black;
      font-family: 'Acme', sans-serif;
    }
  
    select:hover {
      background-color: #9ce0db;
    }
  
    .form__buttons {
      margin: 5px 0;
      @include d-flex($direction: row, $justifycontent: flex-end, $alignitems: center);
    }
  
    .search {
      color: $white--color;
      background-color: $button-color;
      padding: 5px 10px;
      outline: none;
      border-radius: 10px;
      border: 1px solid #98ff96;
      cursor: $cursor;
  
    }
  
    .search:hover {
      background-color: $button--colorhover;
    }
  
    .clear {
      color: $white--color;
      background-color: #40cfff;
      padding: 5px 14px;
      outline: none;
      border-radius: 10px;
      border: 1px solid #40cfff;
      cursor: $cursor;
    }
  
    .clear:hover {
      background-color: #94e7ff;
    }
  }
  .err{
    font-size: 1.5em;
  }
  .flex__form {
    height: 600px;
    #form__styles {

      @include d-flex($direction: column, $justifycontent: center, $alignitems: center);
  
    }
  
    label {
      color: #3d0b60;
      margin: 0.3em;
      font-weight: bolder;
      font-size: 1.5em;
    }
  
    .form__input {
      width: $widthfifty;
      margin: 0.5em;
      padding: 0.5em 0;
      font-size: $em-size;
    }
  
    select {
      width: $widthfifty;
      margin: 0.7em;
      padding: 0.5em 0;
      font-size: $em-size;
  
    }
  
    .edit__btnform {
      background-color: #009929;
      border-radius: 8px;
      margin: 5px;
      padding: 8px 30px;
      border: 1px transparent;
      color: $white--color;
      cursor: $cursor;
      outline: none;
      font-size: $em-size;
    }
  }

  @media only screen and (max-width: 767px) {
    .background-image{
      width: 100%;
    }
    .searching--form{

      @include d-flex($direction: column, $justifycontent: center, $alignitems: center);

    }
    .search--form__section{
      background: none;
      background-color: black;
      height: 220px;
    }
  }
  // @media only screen and (max-width: 374px) {
  //   .background-image{
  //     height: 300px;
  //     width: 100%;
  //     background-size: cover;
  //   }
  // }

  // @media only screen and (max-width: 374px) {
  //   .searching--form{
  //     @include d-flex($direction: column, $justifycontent: center, $alignitems: center);

  //   }
  // }