* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ebebeb;
  font-family: "Acme", sans-serif;
  // background-color: #c9c9c9;
}
.set_blur {
  filter: blur(10px);
}

@media only screen and (max-width: 700px) {
  body {
    background-position: center center;
    height: 500px;
  }
}

@media only screen and (max-width: 374px) {
  body {
    height: 800px;
    background-position: center center;
  }
}
@media only screen and (max-width: 250px) {
  body {
    height: 300px;
    background-position: center center;
  }
}
